.modal-body {
  width: 1200px;
  height: 700px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 80px 550px 1fr;
}

.header {
  grid-column: span 2;
  display: grid;
  grid-template-rows: 30px 50px;
}

.toolbar {
  background-color: rgb(17, 17, 17);
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.toolbar > * {
  display: flex;
}

.toolbar-left {
  align-items: center;
}

[disabled] > * {
  pointer-events: none;
}

.presets {
  display: flex;
  align-items: center;
}

.presets-button:hover {
  opacity: var(--ayva-hover-opacity);
  cursor: pointer;
}

.presets-button:active {
  opacity: var(--ayva-active-opacity);
}

.emulator {
  width: 620px;
  height: 100%;
}

.emulator-column {
  position: relative;
  grid-row: 2;
}

.axis-column, .editor-column {
  grid-row: 2;
}

.axis-scroll {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tempest-motion-container {
  padding: 0px 10px 19px 10px;
}

.tempest-motion-container:nth-last-child(1) {
  padding-bottom: 0;
}

.preview-bpm {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  top: 500px;
  width: 300px;
  left: 50%;
  transform: translate(-50%);
}

.preview-bpm .label {
  display: flex;
  justify-content: center;
  padding: 4px;
  color: var(--ayva-text-color-blue);
  font-weight: 700;
}

.close.icon {
  margin-left: 5px;
}

.settings.icon {
  width: 20px;
  margin-top: 5px;
  margin-right: 7.5px;
  outline: none;
}

.main-inputs {
  display: flex;
  justify-content: space-between;
}

.main-inputs > * {
  display: flex;
  align-items: center;
}

.main-inputs .device,
.main-inputs .setup {
  margin-right: 40px;
}

.main-inputs .setup {
  margin-left: 45px;
  position: relative;
}

.main-inputs .device label {
  cursor: pointer;
}

.main-inputs .device label[disabled] {
  cursor: not-allowed;
}

.main-inputs .device > span,
.main-inputs .setup > span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--ayva-text-color-light-gray)
}

.main-inputs .setup > .context-clue {
  position: absolute;
  left: -20px;
  opacity: 0.5;
  color: var(--text-color);
}

input.name {
  width: 200px;
  background: var(--ayva-background-dark);
}

.save-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: var(--ayva-text-color-off-white);
  justify-content: end;
}

.save-container input {
  font-size: 12px;
  min-width: 200px;
  height: 30px;
  color: var(--ayva-text-color-light-gray);
  margin-left: 5px;
  padding: 0 5px;
}

.save-container button {
  width: 150px;
  margin-left: 10px;
  margin-right: 28px;
}

.save-container div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.select-axes .icon:hover {
  opacity: 1;
}

.select-axes {
  font-size: 14px;
  margin-left: 390px; /* No... */
}

.select-axes:hover:not([disabled]) {
  cursor: pointer;
  opacity: var(--ayva-hover-opacity);
}

.select-axes:active:not([disabled]) {
  opacity: var(--ayva-active-opacity);
}