body {
  --custom-value-color: #6784bb;
  background: black;
  margin: 0
}

@font-face {
  font-family: locust;
  src: url(fonts/cgf-locust-resistance.regular.ttf);
}

#main {
  background-color: black;
}

.actions {
  position: absolute;
  bottom: 10px;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.actions button {
  font-size: 16px;
  width: 150px;
  margin: 0 20px;
  height: 25px;
}

button[disabled] {
  pointer-events: none !important;
  opacity: 50%;
}

.connect-status-container {
  /* TODO: Don't absolute position this. Put it inside of limits element... :) */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  top: 13px;
  left: 136px;
  font-size: 10px;
}

.connect-status-container.connected {
  /* No... 😂 */
  left: 152px;
}

.connect-status-icon {
  width: 12px;
  height: 12px;
  border-radius: 9px;
  margin-right: 10px;
}

.connect-icon svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: 5px;
  top: 1px;
}

.connected > .connect-status-icon {
  background-color: green;
}

.disconnected > .connect-status-icon {
  background-color: rgb(168, 0, 0);
}

.disconnected:hover {
  opacity: 0.75;
}

.disconnected {
  cursor: pointer;
  opacity: 0.5;
}

#container {
  display: flex
}

#emulator {
  width: 90%; 
  height: 100vh;
}

#current-bpm {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#current-bpm .slider {
  width: 600px;
}

#current-bpm .label {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: var(--custom-value-color);
  font-weight: bold;
}

#current-bpm .label > * {
  padding-left: 10px;
}

#gui-container {
  position: absolute;
  padding-top: 10px;
  right: 10px;
  height: 100vh;
  overflow: auto;
}

.mode-container {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  font-size: 18px;
  background-color: transparent;
}

.mode-container .mode {
  padding: 0 5px;
}

.stopped-mode {
  color: rgb(235, 235, 235);
  opacity: 0.5;
}

.free-play-mode {
  color: indigo;
  font-weight: bold;
}

.manual-mode {
  color: var(--custom-value-color);
}

.limits-container {
  position: absolute;
  width: 245px;
  left: 10px;
  top: 10px;
}

.free-play {
  position: absolute;
  width: 400px;
  right: 10px;
  height: 100vh;
  overflow: auto;
}

.free-play-container.lil-gui.root {
  width: 400px;
  position: relative;
  top: 10px;
}

.limits {
  padding-top: 5px;
  border: none;
  margin-left: var(--folder-indent);
}

.limit {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 15px 21px 15px 4px;
}

.tempest-stroke {
  display: grid;
  grid-template-columns: 30% 240px;
  padding-top: 7px;
}

.tempest-stroke .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  content: "Empty";
  padding: 0 var(--padding);
  margin: var(--spacing) 0;
  display: block;
  font-style: italic;
  line-height: var(--widget-height);
  opacity: 0.75;
}

.current-stroke-container {
  float: right;
}

.current-stroke-container .current-stroke {
  padding: 0 5px;
  color: var(--custom-value-color);
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: locust;
  font-size: 12px;
  color: var(--custom-value-color);
}

.logo .ayva {
  color: indigo;
  font-size: 20px;
  text-decoration: none;
}