body {
  --ayva-blue: #6784bb;
  --ayva-color-error: #A80000;
  --ayva-text-color-blue: #6784bb;
  --ayva-text-color-off-white: rgb(235, 235, 235);
  --ayva-text-color-light-gray: rgb(176, 176, 176);
  --ayva-background-dark: rgb(17, 17, 17);
  --ayva-background-medium: rgb(24, 24, 24);
  --ayva-background-light: rgb(31, 31, 31);
  --ayva-hover-opacity: 0.85;
  --ayva-active-opacity: 0.75;
  --ayva-button-primary-color: #374f7b;
  --ayva-button-primary-color-hover: #3a5281;
  --ayva-button-primary-color-active: #2f436a;
  --ayva-tempest-axis-color: rgb(138, 99, 131);
  background: black;
  margin: 0;
  color-scheme: dark;
}

.app-spinner .n-spin {
  width: 100px;
  height: 100px;
  color: var(--ayva-blue);
}

.ayva-button,
.lil-gui .ayva-button {
  height: 30px;
  font-size: 16px;
  border: none;
}

.ayva-button.primary,
.lil-gui .ayva-button.primary {
  background-color: var(--ayva-button-primary-color);
  color: var(--ayva-text-color-off-white);
}

.ayva-button.primary:hover,
.lil-gui .ayva-button.primary:hover{
  background-color: var(--ayva-button-primary-color-hover);
}

.ayva-button.primary:active:not([disabled]),
.lil-gui .ayva-button.primary:active:not([disabled]) {
  background-color: var(--ayva-button-primary-color-active);
}

button[disabled] {
  cursor: not-allowed;
}

.ayva-dropdown-input {
  background-color: var(--ayva-background-dark);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ayva-dropdown-input:hover {
  cursor: pointer;
  opacity: 0.9;
}

.chevron {
  width: 14px;
  height: 14px;
}

.lil-gui button:active[disabled] {
  background: var(--widget-color);
}

.lil-gui button:hover[disabled] {
  background: var(--widget-color);
}
@font-face {
  font-family: locust;
  src: url(fonts/cgf-locust-resistance.regular.woff2);
}

.hud-button {
  width: 25px;
  height: 25px;
  color: var(--ayva-text-color-off-white);
  position: relative;
  top: 2px;
  right: 10px;
}

.hud-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

#main {
  background-color: black;
  min-width: 1025px;
  min-height: 450px;
  position: relative;
  width: 100%;
}

.actions {
  position: absolute;
  bottom: 40px;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.actions button {
  font-size: 16px;
  width: 150px;
  margin: 0 20px;
  height: 25px;
}

button[disabled] {
  /* pointer-events: none !important; */
  opacity: 50%;
}

.connect-status-container {
  /* TODO: Don't absolute position this. Put it inside of limits element... :) */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ayva-background-dark);
  position: absolute;
  top: 2px;
  left: 124px;
  font-size: 10px;
}

.connect-status-container.connected {
  /* No... 😂 */
  left: 140px;
}

.connect-status-icon {
  width: 12px;
  height: 12px;
  border-radius: 9px;
  margin-right: 10px;
}

.connect-icon svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: 5px;
  top: 1px;
}

.connected > .connect-status-icon {
  background-color: green;
}

.disconnected > .connect-status-icon {
  background-color: rgb(168, 0, 0);
}

.disconnected:hover {
  opacity: 0.75;
}

.disconnected {
  cursor: pointer;
  opacity: 0.5;
}

#container {
  display: flex
}

#emulator {
  width: 90%; 
  height: 100vh;
}

#current-bpm {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#current-bpm .slider {
  width: 34.72vw; /* 600px on full screen */
  height: 20px;
}

#current-bpm .slider .noUi-connects, .slider {
  background-color: transparent;
}

#current-bpm .label {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: var(--ayva-text-color-blue);
  font-weight: bold;
  position: relative;
  top: 10px;
}

#current-bpm .label > * {
  padding-left: 10px;
}

#current-bpm .slider.horizontal .noUi-handle {
  top: 3px;
}

#current-bpm .faux-bpm-track {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(66, 66, 66);
  top: 15px;
}

#gui-container {
  position: absolute;
  padding-top: 10px;
  right: 10px;
  height: 100vh;
  overflow: auto;
}

.mode-container {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  font-size: 18px;
  background-color: transparent;
}

.mode-container .mode {
  padding: 0 5px;
}

.stopped-mode {
  color: rgb(235, 235, 235);
  opacity: 0.5;
}

.free-play-mode {
  color: indigo;
  font-weight: bold;
}

.manual-mode {
  color: var(--ayva-text-color-blue);
}

.limits-container {
  position: absolute;
  width: 245px;
  left: 10px;
  top: 10px;
}

.free-play {
  position: absolute;
  width: 400px;
  right: 10px;
  height: 100vh;
  overflow: auto;
}

.free-play-container.lil-gui.root {
  width: 400px;
  position: relative;
  top: 10px;
}

.limits {
  padding-top: 5px;
  border: none;
  margin-left: var(--folder-indent);
}

.limit {
  display: grid;
  grid-template-columns: 32% 68%;
  padding: 15px 21px 15px 4px;
}

.tempest-stroke {
  display: grid;
  grid-template-columns: 1fr 210px 1fr;
  padding-top: 7px;
}

.tempest-stroke .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-stroke-container .current-stroke {
  padding: 0 5px;
  color: var(--ayva-text-color-blue);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-family: locust;
  font-size: 16px;
  color: var(--ayva-text-color-blue);
}

.logo .ayva {
  color: indigo;
  text-decoration: none;
}

.logo .app-settings {
  width: 25px;
  margin-top: 3px;
  margin-right: 5px;
  color: var(--widget-color);
}

.logo .app-settings:focus {
  outline: none;
}

.logo .app-settings:hover[disabled] {
  opacity: 0.5;
}

.logo .app-settings:hover {
  opacity: var(--ayva-hover-opacity);
  cursor: pointer;
}

.icon:not([disabled]) {
  cursor: pointer;
}

.icon {
  width: 25px;
  margin-top: 2px;
}

.icon:hover:not([disabled]) {
  opacity: var(--ayva-hover-opacity)
}

.icon:active:not([disabled]) {
  opacity: var(--ayva-active-opacity);
}

.icon {
  outline: none;
}

.preview-popup {
  width: 150px;
  height: 150px;
  box-shadow:0 0 8px 3px black;
  border-radius: 75px;
  background-color: black;
}

.preview-popup > * {
  border-radius: 75px;
}

.preview-popup-container {
  left: -80px;
  top: 20px;
}

input.error {
  border: 1px solid var(--ayva-color-error);
}

.patreon-promo-disable {
  padding-top: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--ayva-text-color-light-gray);
  opacity: 0.75;
}

.patreon-promo-disable > span {
  font-style: italic;
  padding-right: 5px;
}

@media only screen and (max-width: 1180px) {
  #current-bpm {
    left: 95px;
    transform: none;
  }

  #current-bpm .slider {
    width: 480px;
  }

  .actions {
    left: 30px;
    transform: none;
  }
}

@media only screen and (max-width: 1420px) and (min-width: 1180px) {
  #current-bpm {
    left: 30%;
    transform: translate(-30%);
  }

  .actions {
    left: 30%;
    transform: translate(-30%);
  }
}