/* Naive UI Style Overrides */
.n-scrollbar {
  --n-scrollbar-width: 8px !important;
}

.n-dropdown-menu, .n-base-select-menu {
  max-height: 600px;
  overflow: scroll;
  background-color: var(--ayva-background-medium);
  color: var(--ayva-text-color-light-gray);
}

.n-dropdown-option-body__label {
  padding-left: 5px;
}

.n-base-select-option__content,
.n-dropdown-option-body__label {
  color: var(--ayva-text-color-light-gray);
}

.n-base-select-menu .n-base-select-option.n-base-select-option--pending,
.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
  background-color: var(--ayva-background-dark);
}

.n-base-select-menu .n-base-select-option .n-base-icon.n-base-select-option__check {
  color: var(--ayva-tempest-axis-color);
}

.default-option .n-dropdown-option-body__label {
  color: var(--ayva-text-color-light-gray);
  margin-left: -14px;
}

.n-dropdown-menu .n-dropdown-option .n-dropdown-option-body.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled) {
  background-color: var(--ayva-background-dark);
}

.n-dropdown-menu .n-dropdown-option .n-dropdown-option-body.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled)
.n-dropdown-option-body__label {
  color: var(--ayva-text-color-off-white);
}

.n-dropdown-menu .stroke-library-heading {
  background-color: var(--ayva-background-dark);
  padding: 5px;
  cursor: default;
}

.axis-column .n-scrollbar {
  border-top: 3px groove var(--ayva-background-medium);
}

.axis-column .n-scrollbar[data-scroll="0"] {
  border-top: none;
}

.n-modal-mask {
  background-color: rgba(0, 0, 0, .75);
}
