/* Naive UI Style Overrides */
.n-scrollbar {
  --n-scrollbar-width: 8px !important;
}

.n-dropdown-menu, .n-base-select-menu {
  max-height: 600px;
  overflow: scroll;
  background-color: var(--ayva-background-medium);
  color: var(--ayva-text-color-light-gray);
}

.n-dropdown-option-body__label {
  padding-left: 5px;
}

.n-base-select-option__content,
.n-dropdown-option-body__label {
  color: var(--ayva-text-color-light-gray);
}

.n-base-select-menu .n-base-select-option.n-base-select-option--pending,
.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
  background-color: var(--ayva-background-dark);
}

.n-base-select-menu.motion .n-base-select-option {
  padding: 0 8px;
}

.n-base-select-menu .n-base-select-option .n-base-icon.n-base-select-option__check {
  color: var(--ayva-tempest-axis-color);
}

.default-option .n-dropdown-option-body__label {
  color: var(--ayva-text-color-light-gray);
  margin-left: -14px;
}

.n-dropdown-menu .n-dropdown-option .n-dropdown-option-body.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled) {
  background-color: var(--ayva-background-dark);
}

.n-dropdown-menu .n-dropdown-option .n-dropdown-option-body.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled)
.n-dropdown-option-body__label {
  color: var(--ayva-text-color-off-white);
}

.n-dropdown-menu .stroke-library-heading {
  background-color: var(--ayva-background-dark);
  padding: 5px;
  cursor: default;
}

.axis-column .n-scrollbar {
  border-top: 3px groove var(--ayva-background-medium);
}

.axis-column .n-scrollbar[data-scroll="0"] {
  border-top: none;
}

.n-modal-mask {
  background-color: rgba(0, 0, 0, .75);
}

.error-tooltip.n-popover {
  background-color: var(--ayva-background-dark);
  color: var(--ayva-text-color-off-white);
}

.error-tooltip.n-popover .n-popover-arrow {
  background-color: var(--ayva-background-dark);
}

.n-notification-container .n-notification {
  background-color: var(--ayva-background-dark);
}

.n-notification-container .n-notification .n-notification-main .n-notification-main__content {
  color: var(--ayva-text-color-light-gray);
}

.n-notification-container .n-notification .n-notification-main .n-notification-main-footer .n-notification-main-footer__meta {
  color: var(--ayva-text-color-light-gray);
  opacity: 0.75;
}

/* .n-notification-container .n-notification .n-notification__avatar .n-base-icon {
  color: var(--ayva-color-error);
} */

.n-dropdown-menu.bpm-select.n-popover-shared.n-dropdown {
  width: 250px;
}

.n-dropdown-menu.connection-type.n-popover-shared.n-dropdown {
  width: 130.8px;
}

.n-dropdown-menu.ayva-dropdown.n-popover-shared.n-dropdown {
  margin-top: 0;
}

.n-dropdown-menu .n-dropdown-divider {
  background-color: var(--ayva-text-color-light-gray);
  opacity: 0.20;
}

.n-dialog.n-modal {
  background-color: var(--ayva-background-medium);
  color: var(--ayva-text-color-light-gray);
}

.unsaved-changes.n-dialog .n-dialog__icon {
  color: var(--ayva-color-error);
}

.unsaved-changes.n-dialog .n-dialog__title {
  color: var(--ayva-text-color-off-white);
}

.unsaved-changes.n-dialog .n-button.n-button--default-type {
  color: var(--ayva-text-color-light-gray);
}

.unsaved-changes.n-dialog .n-button.n-button--warning-type {
  background-color: var(--ayva-color-error);
}

.unsaved-changes.n-dialog .n-button .n-button__border {
  display: none;
}

.unsaved-changes.n-dialog .n-button.n-button--warning-type .n-button__state-border {
  display: none;
}

.unsaved-changes.n-dialog .n-button:not(.n-button--disabled):hover .n-button__state-border,
.unsaved-changes.n-dialog .n-button:not(.n-button--disabled):focus .n-button__state-border {
  border-color: var(--ayva-text-color-off-white);
}


